.pane {
    padding: 2em;
    background: color-mix(in srgb, whitesmoke, transparent 40%);
    box-shadow: 0 8px 32px 0 color-mix(in srgb, black, transparent 66%);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid color-mix(in srgb, whitesmoke, transparent 92%);
}